<div id="top-div">
    <div class="container">
        <div class="row" id="name-heading">
            <div class="col">
                <h1>CASPAR BAYLISS COCKTAILS</h1>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="animated fadeInLeft firstElement"><%= image_tag("newspreadsheet.png", class:"icons") %></div>
                <div class="icons-text animated fadeInLeft firstElement">Financing</div>
            </div>
            <div class="col text-center">
                <div class="animated fadeInLeft secondElement"><%= image_tag("pamphlet.png", class: "icons") %></div>
                <div class="icons-text animated fadeInLeft secondElement">Menus</div>
            </div>
            <div class="col text-center">
                <div class="animated fadeInLeft thirdElement"><%= image_tag("cocktail.png", class: "icons") %></div>
                <div class="icons-text animated fadeInLeft thirdElement">Training</div>
            </div>
        </div>
        <div class="row upper-buffer">
            <div class="col text-center">
                <%= image_tag("excel.png", id: "excel-photo", class: "animated fadeInLeft fourthElement") %>
            </div>
            <div class="col text-center">
                <%= image_tag("menu.png", id: "excel-photo", class: "animated fadeInLeft fifthElement") %>
            </div>
        </div>
        <div class="row upper-buffer">
            <div class="col text-center">
                <p>+447847010083</p>
            </div>
            <div class="col text-center">
                <p><%= mail_to "casparbayliss@gmail.com", "Email: casparbayliss@gmail.com" %></p>
            </div>
        </div>
    </div>
</div>